@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500&display=swap');

/* {
    font-family: 'Quicksand', sans-serif !important;
}*/

body {
    background-color: white;
}

header {
    font-family: 'Quicksand', sans-serif, 500 !important;
    font-weight: 400;
}

section {
    font-family: 'Quicksand', sans-serif !important;
    font-weight: 400;
}

a {
    color: rgb(100, 100, 100) !important;
}

a:hover {
    color: black !important;
    font-weight: 500;
}

a:focus {
    color: rgb(100, 100, 100) !important;
    font-weight: 500;
}

p {
    font-size: 90% !important;
}

.intro {
    font-size: 100% !important;
    color: rgb(100, 100, 100);
}

.heading {
    line-height: 175%;
}

.description {
    font-size: 110% !important;
}

.textcolor {
    color: rgb(100, 100, 100) !important;
}

.navtext {
    font-size: 107% !important;
    color: rgb(100, 100, 100);
}

span {
    margin-right: 3px;
}

.menu {
    padding: 0;
}

.home {
    border-bottom: 2px;
    border-bottom-style: solid;
    border-color: black;
    padding: 10px;
    margin: 5px;
    margin-bottom: 10px;
}

.education {
    border-bottom: 2px;
    border-bottom-style: solid;
    border-color: black;
    padding: 10px;
    margin: 5px;
    margin-bottom: 10px;
}

.interests {
    border-bottom: 2px;
    border-bottom-style: solid;
    border-color: black;
    padding: 10px;
    margin: 5px;
    margin-bottom: 10px;
}

#personalphoto {
    height: auto;
    width: 20%;
    margin-top: 5%;
    border-radius: 0px;
    border: solid;
    /*margin-top: ;*/
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.hobbiesphoto {
    height: auto;
    width: 20%;
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 20px;
}

.asection {
    margin-left: 20.5%;
}

.anarticle {
    padding: 10px;
    border: 3px;
    /*border-style: solid;*/
    border-color: black;
    border-radius: 10px;
    margin: 10px;
}

.bulletlists {
    list-style-type: circle;
}

.det {
    padding: 5px;
}

.hobbies {
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 10px;
    margin-left: 20px;
}

.contact {
    color: green;
    font-size: 1em;
    text-align: center;
    width: 50%;
    margin: auto;
}

#contact {
    color: black;
}

#maili {
    color: black;
    margin-right: 3px;
}

.contact#copyr {
    color: black;
    margin-top: 25px;
}

@media screen and (max-width: 640px) {
    #sidebar {
        display: none;
    }

    #newsidebar {
        height: 100%;
        width: 95%;
        border: 0;
        background-color:rgb(223, 217, 217);
        margin: auto;
        display: block;
    }

    .asection {
        margin: auto;
    }
    
    footer {
        margin: auto;
    }
}

#recipeasyphotos {
    height: auto;
    width: 30%;
    border-radius: 5px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

p {
    line-height: 175%;
    font-size: 105%;
}

li {
    line-height: 175%;
}